* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background-color: #ece7e1;
}

/***************** Para desktop ***************/


/* ------ Estilos Nav ------ */
.nav-container {
    background-color: #1a1818;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;


}

.nav-container ul li {
    display: inline-block;
    margin-right: 20px;


}

.nav-container ul li a {
    text-decoration: none;
    color: #ece7e1
}

.nav-container ul li a:hover {
    text-decoration: line-through;
}



/* ------ Fin Estilos Nav ------ */

/* ------ Estilos About ------ */

.section-about {
    display: flex;
    flex-direction: space-between;
    align-items: flex-start;
    width: 80%;
    margin: 0 auto;

}



.about-presentación {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background-color: #ece7e1;
    font-size: 25px;
    margin-top: 60px;



}

.about-titulo {
    font-family: "Abril Fatface", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 60px;
    margin-bottom: 20px;

}

.about-texto {
    text-align: justify;
    margin-bottom: 20px;
    width: 85%;

}

.about-button {
    font-family: "Abril Fatface", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    border: none;
    background-color: #1a1818;
    color: #ece7e1;
    padding: 10px 32px;
    border-radius: 8px;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    overflow: hidden;
    transition-duration: 0.4s;
    margin-bottom: 30px;
    

}

.about-button a {
    text-decoration: none;
    color: #ffff;
}
.about-button:hover {
    width: 250px;
    margin-right: -50px;
}


.about-imagen {
    width: 400px;
    height: auto;
    margin-top: 50px;
    border-radius: 15px;



}

/* ------ Fin Estilos About ------ */

/* ------ Inicio conocimientos ------ */

.conocimientos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 100px auto;



}

.titulo-conocimientos {
    font-size: 35px;
    margin-bottom: 20px;


}

.texto-conocimientos {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;

}

.lista-conocimientos {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}

.icono-conocimientos {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    flex: 1 0 calc(33.33% - 20px);
    background-color: #F7F5F3;
    border-radius: 10px;

}

.icono-conocimientos i {
    font-size: 60px;
    margin-bottom: 10px;
    text-align: center;

}


.icono-conocimientos:hover {
    background-color: #dfd8d0;
}



/* ------ Fin conocimientos ------ */


/* ------ Inicio Quote ------ */

.container-quote {
    background-color: #1a1818;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;

}

.comilla-quote {
    font-size: 70px;



}

.frase-quote {
    font-style: italic;
    font-size: 30px;
    margin-bottom: 10px;
    color: #ece7e1;


}

.autor-quote {
    color: #ece7e1;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 20px;
    padding-top: 20px;



}

/* ------ Fin Quote ------ */

/* ------ Inicio mis proyectos ------ */

.container-proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 100px auto;
    cursor: pointer;

    
}



.titulo-proyectos {
    font-size: 35px;
    margin-bottom: 20px;
    }

.texto-conocimientos {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.container-imagenes-conocimientos {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 15px;
    
    
}

.container-imagenes-conocimientos li {
    width: calc(50% - 40px);
    margin: 20px;
    text-align: center;
    background-color: #ffff;
    border: 1px solid #ccc;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    
}

.container-imagenes-conocimientos img {
    width: 60%; 
    height: auto;
    margin-top: 20px; 
    
}

.container-imagenes-conocimientos span {
    display: block; 
    margin-top: 10px; 
    font-weight: bold;
    font-size: 20px; 
    margin-bottom: 10px;
}

.container-imagenes-conocimientos li:hover {
    transform: scale(1.05); 
    
}

    



/* ------ Fin mis proyectos ------ */



/* ------ Inicio contact form ------ */

.container-contact { 
    display: flex; 
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
    margin: 100px auto;
    border: 1px solid #ccc;
    border-radius: 15px;
    overflow: hidden;
    background-color: #ffffff;
    padding: 20px;
}

.contact-info, .contact-formulario {
    width: 50vh;
    margin: 30px;
    position: relative;
    margin-bottom: 20px; 
    text-align:left;


}

.contact-formulario {
font-size: 16px;
flex-flow: row;
margin-right: 50px;

}



.form-group {
margin-bottom: 15px;
}

.titulo-contact {
    margin-bottom: 10px;
    font-size: 28px;
}

.texto-contact {
margin-bottom: 25px;
text-align: justify;
font-size: 16px;

}


.links-contact {
    font-size: 15px;
    margin-right: 10px;
    margin-bottom: 100px;
    margin-top: 40px;
}

.links-contact a {
    color: inherit;
    text-decoration: none;
    margin-right: 10px;
}

.links-contact i {
    
    vertical-align: middle;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #fff;
    color: #dbc7b3;
    border-radius: 50%;
    font-size: 15px;
    line-height: 2.2rem;
    margin-right: 30px;
    text-align: center;

}


.links-contact:hover {
    color: #6c5c47;
    text-decoration: underline;
    cursor: pointer;
}

.links-contact i:hover {
    background-color: #dbc7b3;
    color: #fff; 
}

.links-contact a:hover::before {
    background-color: rgba(0, 0, 0, 0.3); /* Color oscuro al pasar el mouse */
}



.form-group {
    margin-bottom: 20px;
    font-weight: bold;
}

.contact-formulario input,
.contact-formulario textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


button {
    display: block;
    background-color: #1a1818;
    color: #ece7e1;
    padding: 8px 25px;
    border-radius: 8px;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    overflow: hidden;
    transition-duration: 0.4s;
    margin-bottom: 30px;
    margin-top: 20px
    
    
}

button:hover {
    background-color: #333;
}



/* ------ Fin footer ------ */

.footer-container {
    background-color: #1a1818;
    color: #ece7e1;
    text-align: center;
    padding: 80px;
    font-size: 20px;
    margin-top: 20px;
}

.menu-footer {
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 20px;
    
}
.menu-footer li {
margin: 0 20px ;


}

.menu-footer a {
    text-decoration: none;
    color: #ece7e1;
}

.menu-footer a:hover {
    text-decoration: line-through;
}

.links-footer ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.links-footer ul li {
    margin: 0 10px; 
    font-size: 25px;
}

.firma-footer {
    font-size: 15px;
    margin-bottom: 30px;
}


/* ------ Fin footer ------ */


/***************** Para tablet ***************/

@media (max-width: 768px) {

/* ------ Inicio nav ------ */

.nav-container nav ul {
flex-direction: column;
align-items: center;
   
}

.section-about {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 50px;

}

/* ------ Fin nav ------ */

/* ------ Inicio about ------ */

.about-presentación {
    font-size: 20px; 
    margin-top: 40px;

}

.about-titulo {
font-size: 40px;
margin-bottom: 15px;
}

.about-texto {
    width: 90%; 
    margin-bottom: 15px;
    
}


.about-button {
    font-size: 18px;
    padding: 8px 24px;
}

.about-imagen {
    width: 80%;
    margin-top: 30px;
    padding-left: 40px;

}  

/* ------ Fin about ------ */

/* ------ Inicio conocimientos ------ */

.titulo-conocimientos {
    font-size: 30px;
}

.texto-conocimientos{
    font-size: 15px;
}

/* ------ Fin conocimientos ------ */

/* ------ Inicio quote ------ */

.comilla-quote{
    font-size: 30px;
}

.frase-quote{
    font-size: 25px;
}

.autor-quote {
    font-size: 15px;
}

/* ------ fin conocimientos ------ */

/* ------ inicio proyectos ------ */

.titulo-proyectos{
    font-size: 30px;
}

.container-imagenes-conocimientos span {
    font-size: 15px; 
    }
/* ------ fin proyectos ------ */

/* ------Inicio contact form ------ */

.container-contact {
    display: flex;
    flex-direction: column;

}

.texto-contact {
    width: 250px;
}

.form-group {
    width: 250px;
}


.contact-formulario input,
    .contact-formulario textarea {
        width: calc(100% - 20px);
    }

/* ------Fin contact form ------ */

}


/***************** Para celular ***************/

@media (max-width: 600px) { 



/* ------Inicio Nav ------ */

.nav-container .nav-links{
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #1a1818;
}

#menu-toggle:checked + .menu-icon + .nav-links {
    display: flex;
}

.nav-container ul.show {
    display: flex;
}

.menu-icon {
    display: block;
    cursor: pointer;
    color: white;
    font-size: 1.5em;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked + .menu-icon + ul {
    display: flex;
}

/* ------Fin Nav ------ */

/* ------inicio about------ */


.about-imagen{
    
}
/* -----fin about------ */

/* -----Inicio  mis conocimientos------ */


/* -----fin  mis conocimientos------ */


/* -----inicio quote------ */

.container-quote{
    text-align: center;
}

/* -----fin  quote------ */

/* ------Inicio contact form ------ */
  
  .container-contact {
    width: 90%; 
    margin: 50px auto; 
    padding: 15px
  }

  .contact-info .titulo-contact {
    font-size: 20px; 
  }

  .contact-info .texto-contact {
    font-size: 14px;
  }

  .contact-info .links-contact {
    font-size: 16px; 
  }

  .contact-info .links-contact i {
    padding: 6px; 
  }

  .contact-formulario input,
  .contact-formulario textarea {
    width: 100%; 
    padding: 8px; 
  }

  .contact-formulario button {
    padding: 8px 20px; 
  }

/* ------Fin contact form ------ */

/* ------inicio footer ------ */

.footer-container {
    padding: 40px 20px; 
    font-size: 16px; 
    text-align: center; 
}

.menu-footer {
    flex-direction: column; 
    align-items: center; 
    font-size: 15px;
  }

  .menu-footer li {
    margin: 10px 0; 
  }

}
